# General

## Rules
common --noincompatible_disallow_empty_glob
common --repositories_without_autoloads=bazel_features_version,bazel_features_globals

## Test
import %workspace%/tools/test/tests.bazelrc
build --test_env=HOME
test --test_output=streamed

# Rule set

## Files
import %workspace%/tools/file/files.bazelrc

# Other

try-import %workspace%/.bazelrc.user
